# 部署地址私钥
SUI_PRIVATE_KEY=suiprivkey1qzqsjxq79323u9sfzlvs8022k69kvskyv90gc9q3jz606r4y73evwlc324q

# test5
# SUI_PRIVATE_KEY=suiprivkey1qqv0d8c7jwmscp9pz88f5mpg4u0gyfzj65gcrw5zzw0zp27txjkq5nk7kyl

# NETWORK=local|testnet|mainnet (use for deploy.<network>.env)
NETWORK=testnet

# SUI_RPC_URL=http://127.0.0.1:9000
SUI_RPC_URL=https://fullnode.testnet.sui.io:443

# update published-at address to toml
UPDATE_TOML=false